In [166]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('ggplot')

import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import  accuracy_score

In [167]:
#  ファイルの読み込み]
DATA_HOME_DIR = "./raw/"
train = pd.read_csv(DATA_HOME_DIR + 'train.csv')
test = pd.read_csv(DATA_HOME_DIR + 'test.csv')
gender_submission = pd.read_csv(DATA_HOME_DIR + 'gender_submission.csv')

前処理

In [168]:
# 前処理のためにtrainとtestを連結
train['is_test'] = 0
train['is_train'] = 1
test['is_test'] = 1 
test['is_train'] = 0

# 目的変数
Y = train['Survived']
train_X = train.drop(['Survived'], axis = 1)

# テストID
test_id = test['PassengerId']
test_X = test

# 連結
all_df = pd.concat([train_X, test_X], axis=0)

In [169]:
# 欠損値}
all_df.isnull().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
is_test           0
is_train          0
dtype: int64

In [170]:
# Age欠損値処理
# 男女別でPclass毎の中央値で埋め
# all_df['Age'] = all_df['Age'].fillna(all_df['Age'].mean())   # 平均値
# all_df['Age'] = all_df['Age'].fillna(all_df['Age'].median()) # 中央値
# all_df['Age'] = all_df['Age'].fillna(all_df['Age'].mode())   # 最頻値

m1 = all_df[(all_df['Sex'] == 'male') & (all_df['Pclass'] == 1)]['Age'].median()
m2 = all_df[(all_df['Sex'] == 'male') & (all_df['Pclass'] == 2)]['Age'].median()
m3 = all_df[(all_df['Sex'] == 'male') & (all_df['Pclass'] == 3)]['Age'].median()
f1 = all_df[(all_df['Sex'] == 'female') & (all_df['Pclass'] == 1)]['Age'].median()
f2 = all_df[(all_df['Sex'] == 'female') & (all_df['Pclass'] == 2)]['Age'].median()
f3 = all_df[(all_df['Sex'] == 'female') & (all_df['Pclass'] == 3)]['Age'].median()

all_df.loc[(all_df['Age'].isnull()) & (all_df['Sex'] == 'male') & (all_df['Pclass'] == 1),  'Age'] = m1
all_df.loc[(all_df['Age'].isnull()) & (all_df['Sex'] == 'male') & (all_df['Pclass'] == 2),  'Age'] = m2
all_df.loc[(all_df['Age'].isnull()) & (all_df['Sex'] == 'male') & (all_df['Pclass'] == 3),  'Age'] = m3
all_df.loc[(all_df['Age'].isnull()) & (all_df['Sex'] == 'female') & (all_df['Pclass'] == 1),  'Age'] = f1
all_df.loc[(all_df['Age'].isnull()) & (all_df['Sex'] == 'female') & (all_df['Pclass'] == 2),  'Age'] = f2
all_df.loc[(all_df['Age'].isnull()) & (all_df['Sex'] == 'female') & (all_df['Pclass'] == 3),  'Age'] = f3

In [171]:
# Fare欠損値確認
all_df[all_df['Fare'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_test,is_train
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,1,0

In [172]:
# Fare欠損値処理
# Pcalass=3の平均値で埋め
Pclass3mean = all_df[all_df['Pclass'] == 3]['Fare'].mean()
all_df['Fare'].fillna(Pclass3mean, inplace=True)

In [173]:
all_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_test,is_train
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1
5,6,3,"Moran, Mr. James",male,25.0,0,0,330877,8.4583,NaN,Q,0,1
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,1
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0,1
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0,1
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0,1
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0,1
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,1
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0,1
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0,1
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0,1
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,0,1
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0,1
17,18,2,"Williams, Mr. Charles Eugene",male,29.5,0,0,244373,13.0000,NaN,S,0,1
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0,1
19,20,3,"Masselmani, Mrs. Fatima",female,22.0,0,0,2649,7.2250,NaN,C,0,1
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0,1
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0,1
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,0,1
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0,1
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0,1
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,0,1
26,27,3,"Emir, Mr. Farred Chehab",male,25.0,0,0,2631,7.2250,NaN,C,0,1
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0,1
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,22.0,0,0,330959,7.8792,NaN,Q,0,1
29,30,3,"Todoroff, Mr. Lalio",male,25.0,0,0,349216,7.8958,NaN,S,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,1,0
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,1,0
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,1,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,1,0
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,1,0
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,1,0
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,1,0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,1,0
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,1,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,1,0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,1,0
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,1,0
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,1,0
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,1,0
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,1,0
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,1,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,1,0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,1,0
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,1,0
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,1,0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,22.0,0,0,334915,7.7208,NaN,Q,1,0
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,1,0
410,1302,3,"Naughton, Miss. Hannah",female,22.0,0,0,365237,7.7500,NaN,Q,1,0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,1,0
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,1,0
413,1305,3,"Spector, Mr. Woolf",male,25.0,0,0,A.5. 3236,8.0500,NaN,S,1,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1,0
416,1308,3,"Ware, Mr. Frederick",male,25.0,0,0,359309,8.0500,NaN,S,1,0
417,1309,3,"Peter, Master. Michael J",male,25.0,1,1,2668,22.3583,NaN,C,1,0

In [174]:
# Embarked欠損値確認
all_df[all_df['Embarked'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_test,is_train
61,62,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,0,1
829,830,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,0,1

In [175]:
# pclass=1の人が割合が一番多いCで埋める
all_df['Embarked'].fillna('C', inplace=True)

In [176]:
all_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_test,is_train
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

In [177]:
#  Ageのカテゴリ変数化
# all_df.loc[ all_df['Age']  <=  10,  'Age_c']  =  0
# all_df.loc[(all_df['Age'] >  10)  &  (all_df['Age']  <=  20),  'Age_c']  =  1
# all_df.loc[(all_df['Age'] >  40)  &  (all_df['Age']  <=  30),  'Age_c']  =  2
# all_df.loc[(all_df['Age'] >  30)  &  (all_df['Age']  <=  40),  'Age_c']  =  3
# all_df.loc[(all_df['Age'] >  40)  &  (all_df['Age']  <=  50),  'Age_c']  =  4
# all_df.loc[(all_df['Age'] >  50)  &  (all_df['Age']  <=  60),  'Age_c']  =  5
# all_df.loc[(all_df['Age'] >  60)  &  (all_df['Age']  <=  70),  'Age_c']  =  6
# all_df.loc[(all_df['Age'] >  70)  &  (all_df['Age']  <=  80),  'Age_c']  =  7
# all_df.loc[ all_df['Age']  >  80,  'Age_c']    =  8

変数追加

In [178]:
all_df['AgeBin'] = pd.cut(all_df['Age'].astype(int), 5)
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
all_df['AgeBin'] = label.fit_transform(all_df['AgeBin'])

In [179]:
all_df['FareBin'] = pd.cut(all_df['Fare'].astype(int), 5)
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
all_df['FareBin'] = label.fit_transform(all_df['FareBin'])

In [180]:
# 家族数 (自分を含める)
all_df['CountFamily'] = all_df['SibSp'] + all_df['Parch'] + 1

In [181]:
# 一人フラグ
all_df['IsHitori'] = 0
all_df.loc[all_df['CountFamily'] == 1,  'IsHitori'] = 1

In [182]:
# Cabin の先頭一文字抽出
all_df['Cabin_initial'] = all_df['Cabin'].str[:1]
all_df['Cabin_initial'].value_counts()

C    94
B    65
D    46
E    41
A    22
F    21
G     5
T     1
Name: Cabin_initial, dtype: int64

In [183]:
all_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_test,is_train,AgeBin,FareBin,CountFamily,IsHitori,Cabin_initial
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1,1,0,2,0,NaN
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1,2,0,2,0,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1,1,0,1,1,NaN
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1,2,0,2,0,C
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1,2,0,1,1,NaN

In [184]:
all_df.loc[all_df['Sex'] == 'male', 'Sex'] = 0
all_df.loc[all_df['Sex'] == 'female', 'Sex'] = 1
all_df['Sex'].astype(int)

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Sex, Length: 1309, dtype: int32

In [185]:
# nameの敬称抽出
import collections 
collections.Counter(all_df['Name'].str.extract('([A-Za-z]+)\.',  expand = False))

Counter({'Capt': 1,
         'Col': 4,
         'Countess': 1,
         'Don': 1,
         'Dona': 1,
         'Dr': 8,
         'Jonkheer': 1,
         'Lady': 1,
         'Major': 2,
         'Master': 61,
         'Miss': 260,
         'Mlle': 2,
         'Mme': 1,
         'Mr': 757,
         'Mrs': 197,
         'Ms': 2,
         'Rev': 8,
         'Sir': 1})

In [186]:
# df_trainのTitle列の値ごとに平均値を算出
all_df['Title']=  all_df['Name'].str.extract('([A-Za-z]+)\.', expand=False)
all_df.groupby('Title').mean()['Age']

Title
Capt        70.000000
Col         54.000000
Countess    33.000000
Don         40.000000
Dona        39.000000
Dr          43.375000
Jonkheer    38.000000
Lady        48.000000
Major       48.500000
Master       8.042295
Miss        21.917654
Mlle        24.000000
Mme         24.000000
Mr          31.249670
Mrs         35.680203
Ms          25.000000
Rev         41.250000
Sir         49.000000
Name: Age, dtype: float64

In [187]:
#  変換関数
def title_to_c(title):
    if title == 'Master':
        return  'Master'
    elif title == 'Miss':
        return  'Miss'
    elif title == 'Mr':
        return  'Mr'
    elif title == 'Mrs':
        return  'Mrs'
    else:
        return  'other'
#  リスト内包表記を用いて変換
all_df['Title'] = [title_to_c(i) for i in all_df['Title']]

In [188]:
# 苗字の取り出し
all_df['FamilyName'] = all_df['Name'].str.extract('([A-Za-z]+)\,', expand=False)

In [189]:
# Ticket の先頭一文字抽出
all_df['Ticket_initial'] = all_df['Ticket'].str[:1]
all_df['Ticket_initial'].value_counts()

3    429
2    278
1    210
P     98
S     98
C     77
A     42
W     19
F     13
7     13
4     11
6      9
L      5
5      3
8      2
9      2
Name: Ticket_initial, dtype: int64

In [190]:
all_df.loc[all_df['Ticket_initial'].isin(['1', '2', '3' ,'4' ,'5' ,'6' ,'7' ,'8' ,'9' ,'0']), 'Ticket_initial'] = 0
all_df.loc[all_df['Ticket_initial'] != 0, 'Ticket_initial'] = 1
all_df['Ticket_initial'].value_counts()

0    957
1    352
Name: Ticket_initial, dtype: int64

In [191]:
all_df.drop(['Name', 'Cabin', 'Ticket', 'SibSp', 'Parch', 'Age', 'Fare'],  axis=1,  inplace=True)

In [192]:
# カテゴリ変数を取得する関数
def _get_categorical_features(df):
    feats = [col for col in list(df.columns) if df[col].dtype == 'object']
    return feats

# カテゴリ変数をファクトライズ (整数に置換)する関数
def _factorize_categoricals(df, cats):
    for col in cats:
        df[col], _ = pd.factorize(df[col])
    return df 

# カテゴリ変数のダミー変数 (二値変数化)を作成する関数
def _get_dummies(df, cats):
    for col in cats:
        df = pd.concat([df, pd.get_dummies(df[col], prefix=col)], axis=1)
    return df

In [193]:
# カテゴリ変数を取得
all_df_cats = _get_categorical_features(all_df)
all_df_cats

['Embarked', 'Cabin_initial', 'Title', 'FamilyName']

In [194]:
# ダミー変数を取得
all_df = _get_dummies(all_df, all_df_cats)
all_df.drop(all_df_cats,  axis=1,  inplace=True)
all_df.head()

,PassengerId,Pclass,Sex,is_test,is_train,AgeBin,FareBin,CountFamily,IsHitori,Ticket_initial,...,FamilyName_Yasbeck,FamilyName_Young,FamilyName_Youseff,FamilyName_Yousif,FamilyName_Yousseff,FamilyName_Yrois,FamilyName_Zabour,FamilyName_Zakarian,FamilyName_Zimmerman,FamilyName_hoef
0,1,3,0,0,1,1,0,2,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,1,2,0,2,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,3,1,0,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,0,1,2,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,3,0,0,1,2,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [195]:
# 最終的なtrainとtestデータを用意
ignore_features = ['PassengerId', 'is_train', 'is_test']
relevant_features = [col for col in all_df.columns if col not in ignore_features]
trainX = all_df[all_df['is_train'] == 1][relevant_features]
testX = all_df[all_df['is_test'] == 1][relevant_features]

In [196]:
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
#from sklearn.grid_search import GridSearchCV
from sklearn.model_selection import GridSearchCV
# LogisticRegressionでグリッドサーチ
parameters = {
        'C'      : [ 50.0, 60.0, 70.0, 80.0, 100.0, 150.0],
        'random_state'      : [17]
}
lr = GridSearchCV(LogisticRegression(), parameters, cv=3)
lr.fit(trainX, Y)

print('LogisticRegression Best parameters: {}'.format(lr.best_params_))
print('LogisticRegression Best score: {:.3f}'.format(lr.best_score_))

predictions = lr.predict(testX)

C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression Best parameters: {'C': 50.0, 'random_state': 17}
LogisticRegression Best score: 0.817

In [208]:
# ベイズ最適化でランダムフォレストのパラメータ
from bayes_opt import BayesianOptimization
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
def randomforest_cv(n_estimators, min_samples_split, max_features):
    val = cross_val_score(
        RandomForestClassifier(
            n_estimators=int(n_estimators),
            min_samples_split=int(min_samples_split),
            max_features=max_features,
            random_state=0
        ),
        trainX, Y,
        scoring = 'accuracy',
        cv = 3, # 3-fold
        n_jobs = -1 # use all CPUs
    ).mean()
    return val

randomforest_cv_bo = BayesianOptimization(
    randomforest_cv,
    {'n_estimators': (10, 250),
    'min_samples_split': (2, 25),
    'max_features': (0.1, 0.999)}
)

gp_params = {"alpha": 1e-5}
randomforest_cv_bo.maximize(n_iter=50, **gp_params)
print(randomforest_cv_bo.res['max']['max_val'])
print(randomforest_cv_bo.res['max']['max_params'])

Initialization
-------------------------------------------------------------------------------------
 Step |   Time |      Value |   max_features |   min_samples_split |   n_estimators |
    1 | 00m00s |    0.82828 |         0.7640 |             19.6340 |       146.3497 |
    2 | 00m00s |    0.83614 |         0.9575 |              5.8005 |        40.2249 |
    3 | 00m00s |    0.82941 |         0.6098 |              3.1427 |       118.6193 |
    4 | 00m00s |    0.82941 |         0.2643 |              5.1949 |        95.4375 |
    5 | 00m00s |    0.82267 |         0.9662 |             22.8243 |        86.9264 |
Bayesian Optimization
-------------------------------------------------------------------------------------
 Step |   Time |      Value |   max_features |   min_samples_split |   n_estimators |
    6 | 00m03s |    0.81594 |         0.1588 |              2.1000 |        10.0312 |
    7 | 00m04s |    0.82604 |         0.4677 |              2.2445 |       249.9487 |
    8 | 00m05s |    0.82716 |         0.3293 |             24.6624 |       249.9817 |
    9 | 00m05s |    0.82379 |         0.9590 |              2.6299 |       249.9896 |
   10 | 00m06s |    0.82492 |         0.7130 |             24.4551 |       249.9654 |
   11 | 00m05s |    0.83053 |         0.6809 |             24.9976 |        10.1301 |
   12 | 00m05s |    0.82941 |         0.9013 |             24.8107 |        10.0776 |
   13 | 00m05s |    0.82379 |         0.7786 |             24.8858 |        10.2622 |
   14 | 00m05s |    0.83389 |         0.6636 |              2.3710 |        10.0057 |
   15 | 00m05s |    0.83389 |         0.4890 |              2.8641 |        10.0178 |
   16 | 00m05s |    0.83165 |         0.6711 |              2.0637 |        10.1797 |
   17 | 00m05s |    0.82267 |         0.1278 |              2.6233 |        10.0656 |
   18 | 00m05s |    0.83389 |         0.9249 |              2.7852 |        10.0186 |
   19 | 00m05s |    0.82043 |         0.1042 |              2.2686 |        10.0176 |
   20 | 00m05s |    0.82716 |         0.8838 |             24.6265 |        10.0899 |
   21 | 00m05s |    0.82828 |         0.6559 |             24.8696 |        10.0152 |
   22 | 00m05s |    0.83614 |         0.7689 |              2.2371 |        10.0611 |
   23 | 00m05s |    0.82941 |         0.5321 |              2.0045 |        10.0530 |
   24 | 00m05s |    0.81706 |         0.1569 |              2.1061 |        10.0800 |
   25 | 00m05s |    0.83053 |         0.6073 |             24.8895 |        10.1467 |
   26 | 00m05s |    0.82379 |         0.9506 |             24.9906 |        10.2574 |
   27 | 00m06s |    0.82716 |         0.7756 |              2.0018 |       249.7792 |
   28 | 00m05s |    0.83165 |         0.8385 |              2.2289 |        10.1821 |
   29 | 00m05s |    0.82828 |         0.4865 |              2.6471 |        10.0049 |
   30 | 00m05s |    0.83502 |         0.7578 |              2.0060 |        10.1960 |
   31 | 00m06s |    0.83389 |         0.8585 |              2.0137 |        10.0098 |
   32 | 00m06s |    0.83502 |         0.8528 |              2.5008 |        10.0086 |

C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\gaussian_process\gpr.py:480: ConvergenceWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'grad': array([2.53749373e-05]), 'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 52, 'nit': 5, 'warnflag': 2}
  ConvergenceWarning)

   33 | 00m05s |    0.83502 |         0.3818 |              2.4399 |        10.0016 |
   34 | 00m05s |    0.83502 |         0.8499 |              2.0755 |        10.0500 |
   35 | 00m05s |    0.81818 |         0.6463 |              2.0771 |        10.0924 |
   36 | 00m05s |    0.82828 |         0.4789 |              2.4874 |        10.0509 |
   37 | 00m05s |    0.82604 |         0.4119 |              2.5570 |        10.0348 |
   38 | 00m05s |    0.82379 |         0.6686 |              2.1014 |        10.0387 |
   39 | 00m05s |    0.82604 |         0.6432 |             24.9693 |        10.2116 |
   40 | 00m06s |    0.83389 |         0.7319 |              2.1303 |        10.0105 |
   41 | 00m06s |    0.83389 |         0.6913 |              2.0073 |        10.2950 |
   42 | 00m06s |    0.82828 |         0.4375 |              2.1366 |        10.1974 |
   43 | 00m06s |    0.81818 |         0.3673 |              2.4525 |        10.0904 |
   44 | 00m06s |    0.81818 |         0.2365 |              2.0138 |        10.0900 |
   45 | 00m06s |    0.83165 |         0.7725 |             24.9781 |        10.1956 |
   46 | 00m06s |    0.83053 |         0.7267 |             24.8536 |        10.0523 |
   47 | 00m06s |    0.82492 |         0.9835 |             24.9003 |        10.2116 |
   48 | 00m05s |    0.82379 |         0.7943 |             24.8507 |        10.2752 |
   49 | 00m07s |    0.82492 |         0.4410 |              2.2050 |       249.9773 |
   50 | 00m06s |    0.82492 |         0.1819 |              2.0512 |        10.1061 |
   51 | 00m06s |    0.83502 |         0.9611 |              2.2171 |        10.0510 |
   52 | 00m06s |    0.82604 |         0.9979 |              2.0897 |       202.2742 |

C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\gaussian_process\gpr.py:480: ConvergenceWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'grad': array([-7.04062429e-05]), 'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 46, 'nit': 4, 'warnflag': 2}
  ConvergenceWarning)

   53 | 00m06s |    0.83277 |         0.7191 |              2.0561 |        10.0284 |

C:\Users\ykcg2\Anaconda3\lib\site-packages\sklearn\gaussian_process\gpr.py:480: ConvergenceWarning: fmin_l_bfgs_b terminated abnormally with the  state: {'grad': array([-0.0001633]), 'task': b'ABNORMAL_TERMINATION_IN_LNSRCH', 'funcalls': 46, 'nit': 4, 'warnflag': 2}
  ConvergenceWarning)

   54 | 00m06s |    0.82492 |         0.7016 |              2.1957 |        10.3729 |
   55 | 00m06s |    0.83726 |         0.9320 |              2.1655 |        10.2255 |
0.8372615039281706
{'n_estimators': 10.225490771619912, 'min_samples_split': 2.1655469479494975, 'max_features': 0.9319548705211711}

In [209]:
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
# 3分割交差検証を指定し、インスタンス化
kf = KFold(n_splits=3)
# 3分割し、交差検証
for  train_index,  test_index  in kf.split(trainX, Y):
    X_cv_train  = trainX.iloc[train_index]
    X_cv_test  = trainX.iloc[test_index]
    Y_cv_train  = Y.iloc[train_index]
    Y_cv_test  = Y.iloc[test_index]

    forest  =  RandomForestClassifier(
                    n_estimators=int(117.31343997905873),
                    min_samples_split=int(11.450953439652974),
                    max_features=0.6661230831444087,
                    random_state=17)
    forest.fit(X_cv_train, Y_cv_train)  

    predictions  = forest.predict(X_cv_test) 

    # acuuracyを表示
    print(round(accuracy_score(Y_cv_test,forest.predict(X_cv_test))*100,2))

81.82
83.84
84.18

In [210]:
from sklearn.model_selection import KFold

#  3分割交差検証を指定し、インスタンス化
kf  =  KFold(n_splits=3)
params  =  {
    'objective':  'binary',
    'learning_rate':  0.1,
    'num_leaves'  :  300
}

# kf.split(X_train.Ytrain)で、X_trainとY_trainを3分割し、交差検証をする
for  train_index,  test_index  in kf.split(trainX, Y):
    X_cv_train  = trainX.iloc[train_index]
    X_cv_test  = trainX.iloc[test_index]
    Y_cv_train  =  Y[train_index]
    Y_cv_test  =  Y[test_index]

    #  識別機を作成
    gbm  =  lgb.LGBMClassifier(objective='binary',
        num_leaves  =  300,
        learning_rate  =  0.1,
        )

    #  学習
    gbm.fit(X_cv_train, Y_cv_train,
    eval_set  =  [(X_cv_test,  Y_cv_test)],
    early_stopping_rounds=10,)

    #  予測し精度を表示
    Y_pred  = gbm.predict(X_cv_test,num_iteration=gbm.best_iteration_)
    print(round(accuracy_score(Y_cv_test,Y_pred)*100,2))

[1]	valid_0's binary_logloss: 0.615928
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's binary_logloss: 0.584909
[3]	valid_0's binary_logloss: 0.560557
[4]	valid_0's binary_logloss: 0.540186
[5]	valid_0's binary_logloss: 0.524069
[6]	valid_0's binary_logloss: 0.510362
[7]	valid_0's binary_logloss: 0.499594
[8]	valid_0's binary_logloss: 0.490339
[9]	valid_0's binary_logloss: 0.483095
[10]	valid_0's binary_logloss: 0.476975
[11]	valid_0's binary_logloss: 0.472212
[12]	valid_0's binary_logloss: 0.468094
[13]	valid_0's binary_logloss: 0.464488
[14]	valid_0's binary_logloss: 0.462399
[15]	valid_0's binary_logloss: 0.459138
[16]	valid_0's binary_logloss: 0.457916
[17]	valid_0's binary_logloss: 0.455514
[18]	valid_0's binary_logloss: 0.454854
[19]	valid_0's binary_logloss: 0.455383
[20]	valid_0's binary_logloss: 0.455334
[21]	valid_0's binary_logloss: 0.454541
[22]	valid_0's binary_logloss: 0.455194
[23]	valid_0's binary_logloss: 0.455177
[24]	valid_0's binary_logloss: 0.45483
[25]	valid_0's binary_logloss: 0.455751
[26]	valid_0's binary_logloss: 0.456211
[27]	valid_0's binary_logloss: 0.45644
[28]	valid_0's binary_logloss: 0.456602
[29]	valid_0's binary_logloss: 0.457007
[30]	valid_0's binary_logloss: 0.458266
[31]	valid_0's binary_logloss: 0.458566
Early stopping, best iteration is:
[21]	valid_0's binary_logloss: 0.454541
80.13
[1]	valid_0's binary_logloss: 0.643856
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's binary_logloss: 0.603899
[3]	valid_0's binary_logloss: 0.572422
[4]	valid_0's binary_logloss: 0.546573
[5]	valid_0's binary_logloss: 0.524824
[6]	valid_0's binary_logloss: 0.507022
[7]	valid_0's binary_logloss: 0.492315
[8]	valid_0's binary_logloss: 0.479706
[9]	valid_0's binary_logloss: 0.469465
[10]	valid_0's binary_logloss: 0.459792
[11]	valid_0's binary_logloss: 0.45289
[12]	valid_0's binary_logloss: 0.44573
[13]	valid_0's binary_logloss: 0.441017
[14]	valid_0's binary_logloss: 0.436008
[15]	valid_0's binary_logloss: 0.432224
[16]	valid_0's binary_logloss: 0.428787
[17]	valid_0's binary_logloss: 0.425118
[18]	valid_0's binary_logloss: 0.422838
[19]	valid_0's binary_logloss: 0.42115
[20]	valid_0's binary_logloss: 0.419926
[21]	valid_0's binary_logloss: 0.418546
[22]	valid_0's binary_logloss: 0.416205
[23]	valid_0's binary_logloss: 0.416509
[24]	valid_0's binary_logloss: 0.416504
[25]	valid_0's binary_logloss: 0.417008
[26]	valid_0's binary_logloss: 0.417231
[27]	valid_0's binary_logloss: 0.418437
[28]	valid_0's binary_logloss: 0.419612
[29]	valid_0's binary_logloss: 0.42161
[30]	valid_0's binary_logloss: 0.422597
[31]	valid_0's binary_logloss: 0.424342
[32]	valid_0's binary_logloss: 0.425846
Early stopping, best iteration is:
[22]	valid_0's binary_logloss: 0.416205
83.5
[1]	valid_0's binary_logloss: 0.616608
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's binary_logloss: 0.583501
[3]	valid_0's binary_logloss: 0.556616
[4]	valid_0's binary_logloss: 0.534212
[5]	valid_0's binary_logloss: 0.515807
[6]	valid_0's binary_logloss: 0.500104
[7]	valid_0's binary_logloss: 0.486902
[8]	valid_0's binary_logloss: 0.472757
[9]	valid_0's binary_logloss: 0.460323
[10]	valid_0's binary_logloss: 0.453109
[11]	valid_0's binary_logloss: 0.44586
[12]	valid_0's binary_logloss: 0.437318
[13]	valid_0's binary_logloss: 0.432902
[14]	valid_0's binary_logloss: 0.42818
[15]	valid_0's binary_logloss: 0.422224
[16]	valid_0's binary_logloss: 0.419492
[17]	valid_0's binary_logloss: 0.41647
[18]	valid_0's binary_logloss: 0.411393
[19]	valid_0's binary_logloss: 0.410402
[20]	valid_0's binary_logloss: 0.406296
[21]	valid_0's binary_logloss: 0.405782
[22]	valid_0's binary_logloss: 0.402502
[23]	valid_0's binary_logloss: 0.398558
[24]	valid_0's binary_logloss: 0.395322
[25]	valid_0's binary_logloss: 0.394632
[26]	valid_0's binary_logloss: 0.391968
[27]	valid_0's binary_logloss: 0.390453
[28]	valid_0's binary_logloss: 0.389216
[29]	valid_0's binary_logloss: 0.388441
[30]	valid_0's binary_logloss: 0.387409
[31]	valid_0's binary_logloss: 0.386294
[32]	valid_0's binary_logloss: 0.385429
[33]	valid_0's binary_logloss: 0.386249
[34]	valid_0's binary_logloss: 0.385483
[35]	valid_0's binary_logloss: 0.384971
[36]	valid_0's binary_logloss: 0.384529
[37]	valid_0's binary_logloss: 0.384077
[38]	valid_0's binary_logloss: 0.384082
[39]	valid_0's binary_logloss: 0.384735
[40]	valid_0's binary_logloss: 0.38376
[41]	valid_0's binary_logloss: 0.383238
[42]	valid_0's binary_logloss: 0.383391
[43]	valid_0's binary_logloss: 0.383656
[44]	valid_0's binary_logloss: 0.383844
[45]	valid_0's binary_logloss: 0.384229
[46]	valid_0's binary_logloss: 0.383534
[47]	valid_0's binary_logloss: 0.382665
[48]	valid_0's binary_logloss: 0.383759
[49]	valid_0's binary_logloss: 0.383352
[50]	valid_0's binary_logloss: 0.383474
[51]	valid_0's binary_logloss: 0.384035
[52]	valid_0's binary_logloss: 0.384221
[53]	valid_0's binary_logloss: 0.385947
[54]	valid_0's binary_logloss: 0.386029
[55]	valid_0's binary_logloss: 0.387413
[56]	valid_0's binary_logloss: 0.387479
[57]	valid_0's binary_logloss: 0.387112
Early stopping, best iteration is:
[47]	valid_0's binary_logloss: 0.382665
84.51

In [211]:
pred_lr = lr.predict_proba(testX)
pred_forest = forest.predict_proba(testX)
pred_gbm = gbm.predict_proba(testX)

In [212]:
pred = pred_lr[:,1]*0.45 + pred_forest[:,1]*0.1 + pred_gbm[:,1]*0.45

In [213]:
pred_replace = [1 if i > 0.5 else 0 for i in pred]

In [214]:
# 提出用
gender_submission["Survived"] = pred_replace
gender_submission.to_csv('./submit/submit_ave19.csv',index=None)